#educations .education {
  text-align: center;
  padding: 60px 40px;
  border-radius: var(--border-radius-3);
  clip-path: var(--polygon);
}
#educations .avatar {
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  border-radius: var(--border-radius-3);
  margin: 0 auto 1rem;
  margin-top: 20px;
  box-shadow: 5px 10px 20px rgba(1, 1, 1, 0.329);
  cursor: pointer;
  background-color: aliceblue;
  padding-top: 1px;
}
#educations .review {
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
}
#educations .review:hover {
  transform: scale(1.5);
  transition: var(--transition);
}
#educations .role {
  font-size: 12px;
  margin-bottom: 15px;
  cursor: pointer;
}
#educations .stack {
  padding: 5px;
  width: 30px;
  height: 30px;
  background: rgba(var(--color-primary-rgb), 0.3);
  box-shadow: var(--card-primary-shadow);
  clip-path: var(--polygon);
  transition: var(--transition);
  cursor: pointer;
}
#educations .stack:hover {
  transform: scale(2);
}
